body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url(Images/bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.container {
  min-width: 400px;
  width: 30%;
  height: auto;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: #fff;
  border-radius: 10px;
}

p{
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-family:cursive;
  color: #fbae3c;
  font-weight: bold;
  margin-block: 10px;
}

.mytask {
  display: flex;
  width: 100%;
  margin-block: 20px;
  align-items: center;
  justify-content: space-evenly;
}

input {
  width: 65%;
  padding: 12px 10px;
  border-radius: 10px;
  font-size: 15px;
  border: 1.5px solid #d58815;
  outline: none;
  font-size: 0.9rem;
}

#btn {
  border: none;
  padding: 12px 25px;
  border-radius: 16px;
  background: #fbae3c;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.deletebtn {
  width: 8%;
  padding: 5px 5px;
  border-radius: 16px;
  background:#dfdfdf;
  font-size: 1.8rem;
  color: #000;
  text-align: center;
  transition: 0.2s ease-in-out;
}

.deletebtn:hover {
  background:#E43030;
  color: #fff;
  font-size: 1.9rem;
}

#btn:hover {
  background: #d58815;
}

#tasks {
  max-height: 400px;
  height: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: whitesmoke;
  text-transform: capitalize;
  text-align: left;
  overflow: overlay;
}

.task-list {
  display: flex;
  width: 95%;
  justify-content: space-around;
  align-items: center;
}

/* #tasks :nth-child(1) {
  margin-bottom: 10px !important;
} */

.individual-task {
  margin: 10px 0 10px;
  min-height: 40px;
  width: 75%;
  border-radius: 5px;
  background-color: #fbae3c;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  color: whitesmoke;
  text-transform: capitalize;
  text-align: left;
  font-weight: lighter;
  overflow: overlay;
  font-size: 1.5rem;
}

/* Custom ScrollBar */

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff9900;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

@-moz-document url-prefix() {
  #tasks {
    overflow: scroll;
  }
}
